* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;

    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-auto-rows: 75px auto 75px;
  grid-template-areas: 
  "hd hd hd hd hd hd hd hd hd"
  "mn mn mn mn mn mn mn sb sb"
   "ft ft ft ft ft ft ft ft ft";
   gap: 1rem;
  }

  .el{
    background-color: rebeccapurple;
   color: #fff;
   display: grid;
   place-content: center;
  }
  .header{
    grid-area: hd;
  }
  .slidebar{
    grid-area: db;
  }
  .footer{
    grid-area: ft;
  }
  
  .box {
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;
  }
  .container{
    grid-area: mn;
    display: grid;
    grid-template-columns: 3fr 3fr;
    /* repeat(2,1fr,2fr) */
    grid-template-rows: minmax(150px,2fr);
    row-gap: 1em;
    column-gap: 1em;
  }
  .box:first-child{
    background-color: aqua;
   /*  grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    you can use this also */
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }