*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.a{
    border: 3px solid black;
    color: black;  
    min-width: 400px;
    min-width: 600px;
    margin: 2rem auto;
}

.b{
    color: black;
    border: 1px dashed darkblue;
    min-width: 400px;
    min-height: 400px;
    padding: 2rem;
    margin: 3rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.b p{
    height: 100px;
    width: 100px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}